/* 要素のレイアウトに関する項目 */
/* 全要素共通 */
.container {
  width: 100%;
  margin: 0 auto;
  @media screen and (min-width: 992px) {
    max-width: 1000px;
  }
}

/* 以下、記載量が増えたら header footerなどのファイルに分ける */
/* Header */
.header {
  padding: var(--space-md);
  width: 100%;

  .container {
    display: flex;
    justify-content: space-between;
    
    .navigations {
      /* display: none; */
    }

    .navigations-button {
      @media screen and (min-width: 992px) {
        display: none;
      }
    }

    .gnav-pc {
      display: none;
      @media screen and (min-width: 992px) {
        display: block;
      }
    }
  }
}

/* Footer */
.footer {
  padding: var(--space-md);
  width: 100%;

  .container {
    .main-info {
      display: flex;
      justify-content: space-between;
    }

    .copy {
      text-align: center;
    }
  }
}
