/* 要素のレイアウトに関する項目 */

.container {
  width: 100%;
  margin: 0 auto;
  @media screen and (min-width: 992px) {
    max-width: 1000px;
  }
}

/* 記載量が増えたら header footerなどのファイルに分ける */
.header {
  display: flex;
  justify-content: space-between;
  padding: var(--space-md);
  
  .gnav {
    display: none;
  }

  .gnav-button {
    @media screen and (min-width: 992px) {
      display: none;
    }
  }

  .gnav-pc {
    display: none;
    @media screen and (min-width: 992px) {
      display: block;
    }
  }
}

.footer {
  
}
