/* 要素のレイアウトに関する項目 */
/* 全要素共通 */
.container {
  width: 100%;
  margin: 0 auto;
  @media screen and (min-width: 992px) {
    max-width: 1000px;
  }
}

/* 以下、記載量が増えたら header footerなどのファイルに分ける */
/* Header */
.header {
  padding: var(--space-sm) var(--space-md);
  width: 100%;

  .container {
    display: flex;
    justify-content: space-between;
    
    .gnav {
      display: none;
    }

    .gnav-dropdown-button {
      @media screen and (min-width: 992px) {
        display: none;
      }
    }

    .gnav.pc {
      display: none;
      @media screen and (min-width: 992px) {
        display: block;
      }
    }
  }
}

.keyvis {
  background-image: url("../../images/keyvis.jpg");
  background-position: 65% 0;
  background-size: cover;
  height: 510px;
  
  @media screen and (min-width: 992px) {
    background-position: center;
  }

  .eye-catch {
    --eye-catch-size: 200px;
    height: var(--eye-catch-size);
    position: relative;
    left: 5%;
    top: 55%;
    width: var(--eye-catch-size);

    @media screen and (min-width: 768px) {
      --eye-catch-size: 340px;
      left: 15%;
      top: 25%;
    }

    .rough-circle {
      position: absolute;
    }

  }
}

/* Footer */
.footer {
  padding: var(--space-md);
  width: 100%;

  .container {
    .main-info {
      display: flex;
      justify-content: space-between;
    }

    .copy {
      text-align: center;
    }
  }
}
