/* 色々な場所で使い回すスタイル */
.cards {
  --cards-side-padding: var(--space-sm);

  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm) var(--space-md);
  justify-content: center;

  @media screen and (min-width: 992px) {
    align-items: stretch;
    flex-direction: row;
  }
  
  .card {
    --img-width: 320px;

    background: var(--color-white);
    border-radius: 4px;
    max-width: calc(var(--img-width) - var(--cards-side-padding) * 2);
    padding: var(--card-padding);
  
    .card__img {
      overflow: hidden;
      height: 240px;
      max-width: 100%;
      margin-bottom: var(--space-sm);
      text-align: center;

      img {
        height: 100%;
      }
    }
  }

  /* 横に長いタイプのcard */
  &.long {
    gap: 0;
    padding: 0 var(--cards-side-padding);

    @media screen and (min-width: 992px) {
      flex-direction: column;
    }

    .card {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: var(--space-md) var(--space-sm);
      max-width: 100%;

      @media screen and (min-width: 992px) {
        flex-direction: row;
      }

      .card__img {
        margin-bottom: var(--space-lg);
        max-width: 240px;

        @media screen and (min-width: 992px) {
          margin-left: var(--space-lg);
        }
      }

      .card__contents {
        @media screen and (min-width: 992px) {
          margin-left: var(--space-xl);
        }
      }

      &:first-child {
        .rough-circle {
          background: var(--color-primary-light);
        }
      }
    }
  }
}

h2, .h2 {
  font-family: ta-kotodama-r;
  font-size: var(--font-size-lg);
  line-height: 1;
  margin-bottom: var(--space-xl);
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: var(--font-size-xl);
  }

  .en {
    /* NOTE: gnavとほぼ同じcssを書いているので共通化したい */
    color: var(--color-primary-light);
    font-family: 'Gill Sans';
    font-size: var(--font-size-normal);
    font-weight: 900;

    @media screen and (min-width: 768px) {
      font-size: var(--font-size-md);
    }
  }
}

h3, .h3 {
  font-size: var(--font-size-md);
  font-weight: 700;
  line-height: 1;
  margin-bottom: var(--space-sm);
  width: 100%;

  &.border {
    margin-bottom: var(--space-md);
    position: relative;

    &::before {
      border-bottom: solid 2px var(--color-primary);
      bottom: calc(-1 * var(--space-xs));
      content: '';
      display: block;
      position: absolute;
      width: 32px;
    }
  }
}

.link-inline {
  /* テキスト本文中のリンク */
  padding: var(--space-xxs);
  text-decoration: underline;
  &:hover {
    background-color: var(--color-base-lightest);
    mix-blend-mode: multiply;
  }
}

/* もっと見るボタンとその周辺 */
.hidden-content {
  display: none;
  &.show {
    display: block;
  }
}

.viewmore, .viewless {
  display: none;
  /* TODO: アイコンとテキストがずれているので直したい */
  position: relative;
  text-align: center;
  img {
    margin-right: 4px;
  }
  &.show {
    display: block;
  }
}
.viewmore__text {
  padding: 8px;
  &:hover {
    background-color: var(--color-base-lightest);
    mix-blend-mode: multiply;
  }
}
.viewless {
  img {
    transform: rotate(180deg);
  }
}

/* ぐにゃぐにゃした丸い円 */
.rough-circle {
  background: var(--color-secondary);
  border-radius: var(--rough-border-radius);
  height: 100%;
  width: 100%;
}

