/* 特定の箇所でしか使わないスタイル */
/* Header */
.header {
  .gnav {
    .list {
      /* PCとSPのgnavに共通のスタイル */
      padding: var(--space-sm);
      margin-bottom: var(--space-lg);
      width: 100%;
  
      .list__item {
        display: inline-block;
        font-family: ta-kotodama-r;
        line-height: 1.2;
        text-align: center;
        width: 100%;
  
        .en {
          /* NOTE: h2とほぼ同じcssを書いているので共通化したい */
          color: var(--color-primary-light);
          font-family: 'Gill Sans';
          font-size: var(--font-size-sm);
          font-weight: 900;
        }
  
        .list__item--link {
          border-bottom: solid 1px var(--color-base-lightest);
          display: block;
          padding: var(--space-xs);
  
          &:hover {
            background-color: var(--color-base-lightest);
          }
        }
      }
    }
    
    .icons {
      display: flex;
      gap: var(--space-lg);
      justify-content: center;
      
      .list__item {
        display: inline-block;
      }
    }
  
    /* 以下、PC版のgnavのみ */
    &.pc {
      .list {
        display: flex;
        gap:var(--space-sm);
        margin-bottom: 0;
        padding: 0;
        text-wrap: nowrap;
      }
    }
  }
  
}
/* keyvis */
.keyvis {
  .eye-catch {
    .rough-circle {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      text-wrap: nowrap;

      .copy {
        font-family: ta-kotodama-r;
        font-size: var(--font-size-lg);

        @media screen and (min-width: 768px) {
          font-size: var(--font-size-xxl);
          line-height: 1.5;
        }
      }
    }
  }

  .rough-circle-shadow {
    --shadow-size: 105%;
    background: repeating-linear-gradient(-45deg, var(--color-secondary) 0px 3px, transparent 3px 6px);
    border-radius: var(--rough-border-radius);
    height: var(--shadow-size);
    width: var(--shadow-size);

    /* タブレットサイズ以上で変化 */
    @media screen and (min-width: 768px) {
      --shadow-size: 110%;
    }
  }
}

/* FAQ */
.faq {
   /* TODO: タブレットより大きいサイズでのテキストの配置に違和感があるので修正したい */
  .item {
    margin-bottom: var(--space-sm);
    padding: 0 var(--space-sm);

    .question, .answer {
      align-items: center;
      display: flex;

      .icon {
        color: var(--color-primary);
        font-size: var(--font-size-xl);
        font-weight: 700;
        margin-right: var(--space-md);
      }
      .text {
        flex-grow: 1;
      }
    }

    .question {
      font-weight: bold;
    }
    .answer {
      .icon {
        color: var(--color-primary-light);
      }
    }
  }

  .hidden-content {
    display: none;
  }

  .viewmore {
    /* TODO: アイコンとテキストがずれているので直したい */
    position: relative;
    text-align: center;
    img {
      margin-right: 4px;
    }
  }
}

/* Contact */
.contact {
  .info, .tel {
    text-align: center;
  }

  .info {
    margin-bottom: var(--space-md);
  }

  .instagram {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-sm);
    justify-content: center;
    margin-bottom: var(--space-lg);
  }
}

/* Footer */
.footer {

  .footer-nav {
    .list-item {
      margin-bottom: var(--space-xs);
    }
  }

  .contact-info {
    .address {
      margin-bottom: var(--space-sm);
    }
    .icons {
      display: flex;

      .list__item {
        display: inline-block;
        margin-right: var(--space-sm);
      }
    }
  }
}
